.navbar {
  padding: 36px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  width: fit-content;
}

.logo1 {
  width: 82px;
}
.logo2 {
  width: 317px;
}

.logo > :not(:last-child) {
  margin-right: 8px;
}

.Right {
  display: flex;
  align-items: center;
}

.Right > :not(:last-child) {
  margin-right: 30px;
}

.hamburger {
  width: 40px;
  cursor: pointer;
}

.menu {
  z-index: 1000 !important;
  position: fixed;
  top: 0%;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: #ffd366;
  padding: 45px 57px;
  transition: all 0.3s ease;
  pointer-events: none;
  transform: translateX(400px);
  display: flex;
  flex-direction: column;
}

.reactScroll {
  transition: all 0.2s ease;
}
.reactScrollActive {
  font-weight: 800;
}

.menu.open {
  pointer-events: visible;
  transform: translateX(0px);
}

.navbarLinks {
  flex: 1;
}

.closeIcon {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.socialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialIcon > :not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 1000px) {
  .logo1 {
    width: 6vw;
  }
  .logo2 {
    width: 30vw;
  }
  .logo1 {
    margin-right: 5px;
  }

  .Right > :not(:last-child) {
    margin-right: 2vw;
  }

  .navbar {
    padding: 26px 0;
  }
}

@media (max-width: 700px) {
  .connectBtn {
    padding: 0 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    width: 25px;
    cursor: pointer;
  }

  .menu {
    z-index: 1000 !important;
    position: fixed;
    top: 0%;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #ffd366;
    padding: 30px 30px;
    transition: all 0.3s ease;
    pointer-events: none;
    transform: translateX(300px);
  }
}
@media (max-width: 500px) {
  .logo1 {
    width: 32px;
  }
  .logo2 {
    width: 150px;
  }

  .Right > :not(:last-child) {
    margin-right: 10px;
  }

  .connectBtn {
    width: auto;
    height: auto;
    padding: 0.5rem 0.6rem;
  }
}
@media (max-width: 380px) {
  .logo1 {
    width: 30px;
  }
  .logo2 {
    width: 130px;
  }

  .Right > :not(:last-child) {
    margin-right: 8px;
  }
}
